<!DOCTYPE html>
<html lang="{{ app()->getLocale() }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" content="{{ csrf_token() }}" />
  <title>{{ env('APP_NAME') }}</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <% if(data) { %>
  <script>
      window.data = <%- JSON.stringify(data) %>
  </script>
  <% } %>
</head>

<body>
  <div id="root">
    {{message}}
    <div class="content">
      <div class="title">
        {{systemName}}
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  window.onload = () => {
    var app = new Vue({
      el: '#root',
      data: {
        message: 'Hello Vue!',
        systemName: window.data.system_name
      }
    })
  }
</script>
</body>

</html>